@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #272a3f;
  --secondary-color: #b3b7d0;
}
body {
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  padding: 5px;
  outline: none;
}
#return-change {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}
h1,
p,
div {
  margin: auto;
}
p {
  margin-top: 20px;
}
#container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
#app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
table,
th,
td {
  width: 50%;
  margin-left: 25%;
  border: 1px solid var(--secondary-color);
  border-collapse: collapse;
  padding: 10px;
}
